{% extends 'base.html' %}
{% block body %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Forgot Password</h1> <br>
    <form action="" method="POST">
        {% csrf_token %}
    <div class="form-group">
        <label for="">Enter Username: </label> 
        <input type="text" id = 'username_forgot_pass' name='username'>
        <input type="submit" label="Submit">
      </div>
    </form>

    <br>
        {% if messages %}
        {%for message in messages%}
        <h3 class = 'message'>{{message}}</h3>
        {%endfor%}
        {%endif%}

</body>
</html>

{% endblock %}