{% extends 'base.html' %} {% block body %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Reset Your Password</h1>
    <br />

    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="">Enter Current Password</label>
        <input type="password" class="input_box" name="current_pass" /> <br />
        <label for="">Enter New Password</label>
        <input type="password" class="input_box" name="new_pass" /> <br />
        <br />
        <input type="submit" label="Submit" />
      </div>
    </form>
    <br />
    {% if messages %} {% for message in messages %}
    <b class="message">{{message}}</b>
    {%endfor%} {% endif %}
  </body>
</html>

{% endblock %}
