{% extends 'base.html' %} {% block body %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Reset Your Password</h1>
    <br />

    <form class="col s12" method="POST">
      {% csrf_token %}
        <div class="input-field col s12">
          <label for="">Enter Current Password</label> <br>
        <input type="password" class="input_box" name="current_pass" />
        </div>
        <div class="input-field col s12">
          <label for="">Enter New Password</label> <br>
        <input type="password" class="input_box" name="new_pass" /> 
        </div>

        <br />
        <input type="submit" label="Submit" />
      </div>
    </form>
    <br />
    {% if messages %} {% for message in messages %}
    <b class="message">{{message}}</b>
    {%endfor%} {% endif %}
  </body>
</html>

{% endblock %}
