{% extends 'base.html' %} {% block body %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="text-center">
    <div>
      {% csrf_token %}
      <form action="" method="post" id="formID" class="ml-auto mr-auto">
        {% csrf_token %}
        <h1>Create New User</h1>
        <br />
        <br />
        <div id="register">
          {{form.as_p}}
        </div>
        <br />
        <button>Register</button>
        <br />
        <br />
        {% if messages %} {%for message in messages%}
        <h3 class="message">{{message}}</h3>
        {%endfor%} {%endif%}
      </form>
    </div>
  </body>
</html>

{%endblock%}
